body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 auto;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 1023px;
    margin: 0 auto;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    height: 61px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    color: #F26522;
}

.logo-orange{
    display:none;
}

.logo:hover .logo-orange{
    display: block;
}
.logo:hover .logo-white{
    display:none;
}


.logo-text{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: 8px; 
    text-transform: uppercase;
}

.logo-text-first-row{
    font-weight: 700;
    font-size: 29px;
}

.logo-text-second-row{
    font-weight: 700;
    font-size: 18px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
}

.e-mail:hover{
    color: #F26522;
}

.phone:hover{
    color: #F26522;
}

.tour-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 61px;
    row-gap: 37px;
    margin-top: 17px;
}

.tour-heading{
    padding-top: 20px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6{
    position: relative;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin-top: 49px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}


.info{
    display: none;
    position: absolute;
    top: 170px;
    height: 55px;
    width: 300px;
    background-color: #F26522;
    color: white;
    font-weight: 400;
    font-size: 10px;
}

.info-block{
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    padding-right: 37px;
}

.price-button{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-weight: 400;
    font-size: 20px;

}

.button::after{
    content: "";
    width: 5px;
    height: 5px;
    border:  solid #fff;
    border-width: 2px 0 0 2px;
    transform: translate(50%, 50%) rotate(135deg);
    position: absolute;
    left: 80px;
}

.button{
    position: relative;
    font-weight: 400;
    font-size: 14px;
}

.item1:hover .info{
    display: block;
}

.item1:hover .tour-heading{
    color: #F26522;
}

.item2:hover .info{
    display: block;
}

.item2:hover .tour-heading{
    color: #F26522;
}

.item3:hover .info{
    display: block;
}

.item3:hover .tour-heading{
    color: #F26522;
}

.item4:hover .info{
    display: block;
}

.item4:hover .tour-heading{
    color: #F26522;
}


.item5:hover .info{
    display: block;
}

.item5:hover .tour-heading{
    color: #F26522;
}


.item6:hover .info{
    display: block;
}

.item6:hover .tour-heading{
    color: #F26522;
}